@model TrabalhoPT.Models.BoardsModel

@{
    ViewBag.Title = "Edição do Quadro";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}

<h2> Editar Quadro </h2>

@using (Html.BeginForm("Edit", "Boards", FormMethod.Post, new { onSubmit = "return areAllReqFieldsFilled(this)" }))
{
    <p>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
    </p>
    <input type="submit" value="Submeter" />
}
<p> @Html.ActionLink("Voltar", "GetLists", "Boards", new { id = @Model.Id }, null) </p>