@model TrabalhoPT.Models.GiveRightsModel

@{
    ViewBag.Title = "Dar acesso Leitura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Deseja dar acesso de leitura ao utilizador: </h2>

@using (@Html.BeginForm("GiveReadRights", "Boards", FormMethod.Post, new { onSubmit = "return areAllReqFieldsFilled(this)" }))
{
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)

    @Html.LabelFor(m => m.BoardId)
    @Html.EditorFor(m => m.BoardId)
    @Html.ValidationMessageFor(m => m.BoardId)
    <input type="submit" value="Submeter" />
}
