@model TrabalhoPT.Models.RightsModel

@{
    ViewBag.Title = "Retirar acesso de Leitura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Deseja retirar acesso de leitura ao utilizador: </h2>

@using (@Html.BeginForm("RemoveReadRights", "Boards", FormMethod.Post, new { onSubmit = "return areAllReqFieldsFilled(this)" }))
{
    <p>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </p>
    
    <p>
        @Html.LabelFor(m => m.BoardId)
        @Html.EditorFor(m => m.BoardId)
        @Html.ValidationMessageFor(m => m.BoardId)
    </p>
    
    <p>
        <input type="submit" value="Submeter" />
    </p>
}