@model TrabalhoPT.Models.ListsModel

@{
    ViewBag.Title = String.Format("Todos os cartões da lista '{0}'", @Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Todos os cartões da lista '@Model.Name' </h2>

<p> @Html.ActionLink("Criar Cartão", "CreateCard", "Lists", new { id = @Model.Id}, null) </p>
<p> @Html.ActionLink("Editar Lista", "Edit", "Lists", new { id = @Model.Id }, null) </p>
<p> @Html.ActionLink("Remover Lista", "RemoveList", "Lists", new { id = @Model.Id }, null) </p>
<p> @Html.ActionLink("Voltar", "GetCards", "Lists", new { id = @Model.Id}, null) </p>
