@model IEnumerable<Etapa1.Models.CardsModel>

@{
    ViewBag.Title = String.Format("Cards From List '{0}'", @Model.First().List.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2> Cartões da lista '@Model.First().List.Name' </h2>

<ul>
    @foreach(var c in @Model)
    {
        <li> @Html.ActionLink(c.Name, "GetCard", "Cards", new { id = c.Id }, null) </li>
    }
</ul>
<p> @Html.ActionLink("Criar Cartão", "CreateCard", "Lists", new { id = @Model.First().List.Id }, null) </p>
<p> @Html.ActionLink("Editar Lista", "Edit", "Lists", new { id = @Model.First().List.Id }, null) </p>
<p> @Html.ActionLink("Voltar", "GetLists", "Boards", new { id = @Model.First().List.Board.Id }, null) </p>
