@model Etapa1.Models.ListsModel

@{
    ViewBag.Title = String.Format("Remover a Lista '{0}'", @Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Remover a list '@Model.Name' </h2>

<p> Tem a certeza que deseja remover a Lista '@Model.Name' do Quadro '@Model.Board.Name'? </p>
@using(Html.BeginForm()) {
    <input type="submit" value="Sim"/>
}
<p> @Html.ActionLink("Voltar", "GetLists", "Boards", new { id = @Model.Board.Id }, null) </p>