@model Etapa1.Models.BoardsModel
           
@{
    ViewBag.Title = "Criar Quadro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Criar Quadro </h2>

@using(Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
    </p>
    <input type="submit" value="Submeter" />
}
<p> @Html.ActionLink("Voltar", "Index", "Boards", null, null) </p>
