@model Etapa1.Models.BoardsModel

@{
    ViewBag.Title = String.Format("Todas as listas do quadro '{0}'", @Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Todas as listas de '@Model.Name' [@Html.ActionLink("Dar acesso de leitura", "GiveReadRights", "Boards", new {id = Model.Id}, null)] [@Html.ActionLink("Dar acesso de escrita", "GiveWriteRights", "Boards", new { id = Model.Id }, null)] </h2>

<p> Não existem listas para este quadro </p>
<p> @Html.ActionLink("Criar Lista", "CreateList", "Boards", new { id = @Model.Id}, null) </p>
<p> @Html.ActionLink("Editar Quadro", "Edit", "Boards", new { id = @Model.Id }, null) </p>
<p> @Html.ActionLink("Voltar", "Index", "Boards", null, null) </p>
