@model Etapa1.Models.CardsModel

@{
    ViewBag.Title = String.Format("Editar Cartão '{0}'", @Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Editar o Cartão '@Model.Name' </h2>

@using(Html.BeginForm())
{
    <p>
        @Html.LabelFor(c => c.Name)
        @Html.EditorFor(c => c.Name)
        @Html.ValidationMessageFor(c => c.Name)
    </p>
    <p>
        @Html.LabelFor(c => c.Description)
        @Html.EditorFor(c => c.Description)
    </p>  
    <p>
        @Html.LabelFor(c => c.InitialDate)
        @Html.EditorFor(c => c.InitialDate)
        @Html.ValidationMessageFor(c => c.InitialDate)
    </p>
    <p>
        @Html.LabelFor(c => c.DueDate)
        @Html.EditorFor(c => c.DueDate)
    </p>
    <input type="submit" value="Submeter" />
}
<p> @Html.ActionLink("Voltar", "GetCards", "Lists", new { id = @Model.List.Id }, null) </p>