@model TrabalhoPT.Models.CardsModel

@{
    ViewBag.Title = String.Format("Detalhes do cartão '{0}'", @Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Detalhes Cartão </h2>

<p> @Html.LabelFor(m => m.Name):
    @Model.Name
</p>
<p> @Html.LabelFor(m => m.InitialDate):
    @Model.InitialDate
</p>
<p> @Html.LabelFor(m => m.DueDate):
    @Model.DueDate
</p>
<p> @Html.LabelFor(m => m.Description):
    @Model.Description
</p>
<p> @Html.ActionLink("Editar Cartão", "Edit", "Cards", new { id = @Model.Id }, null) </p>
<p> @Html.ActionLink("Mover Cartão para outra Lista", "MoveCardToList", "Cards", new { id = @Model.Id }, null) </p>
@if(@Model.List != null )
{
    <p> @Html.ActionLink("Mover Cartão na Lista", "MoveCardInList", "Cards", new { id = @Model.Id }, null) </p>
    <p> @Html.ActionLink("Arquivar Card", "Archive", "Cards", new { id = @Model.Id }, null) </p>
    <p> @Html.ActionLink("Voltar", "GetCards", "Lists", new { id = @Model.List.Id }, null) </p>
}
else
{
    <p> @Html.ActionLink("Página Inicial", "Index", "Home", null, null) </p>
}