@model Etapa1.Models.CardsModel

@{
    ViewBag.Title = String.Format("Move Card '{0}'", @Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Card '@Model.Name' </h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(c => c.Idx):
        @Model.Idx
    </p>
    <p>
        @Html.LabelFor(c => c.Idx):
        @Html.EditorFor(c => c.Idx)
        @Html.ValidationMessageFor(c => c.Idx)
    </p>
    <input type="submit" value="Submit" />
}
<p> @Html.ActionLink("Voltar", "GetCards", "Lists", new { id = @Model.List.Id }, null) </p>