@model  TrabalhoPT.Models.ChangePasswordModel
@{
    ViewBag.Title = "Alterar password";
}

<h2>Alterar password</h2>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { onSubmit = "return areAllReqFieldsFilled(this)" }))
{
    <p>
        @Html.Label("Password antiga")
        @Html.EditorFor(cp => cp.OldPw)
        @Html.ValidationMessageFor(cp => cp.OldPw)
    </p>
    <p>
        @Html.Label("Nova Password")
        @Html.EditorFor(cp => cp.Pw1)
        @Html.ValidationMessageFor(cp => cp.Pw1)
    </p>
    <p>
        @Html.Label("Nova Password")
        @Html.EditorFor(cp => cp.Pw2)
        @Html.ValidationMessageFor(cp => cp.Pw2)
    </p>
    <input type="submit" value="Submit"/>
}
