@model TrabalhoPT.Models.ChangeEmailModel
@{
    ViewBag.Title = "Alterar email";
}

<h2>Alterar email</h2>
@using (Html.BeginForm("ChangeEmail", "Account", FormMethod.Post, new { onSubmit = "return areAllReqFieldsFilled(this)" }))
{
    <p>
        @Html.Label("Email antigo")
        @Html.EditorFor(ce => ce.OldEmail)
        @Html.ValidationMessageFor(ce => ce.OldEmail)
    </p>
    <p>
        @Html.Label("Email novo")
        @Html.EditorFor(ce => ce.NewEmail)
        @Html.ValidationMessageFor(ce => ce.NewEmail)
    </p>
    <input type="submit" value="Submeter"/>
}