@model TrabalhoPT.Models.AccountModel
@{
    ViewBag.Title = @Model.Username+" - Informação da conta";
}

<script src="@Url.Content("~/Scripts/image.resize.js")" type="text/javascript"></script>

<h2>@Model.Username - Informação da conta</h2>

<img src=@Model.ImageUrl alt="Image">
<p><strong>Username: </strong>@Model.Username</p>
<p><strong>Email: </strong>@Model.Email</p>
<p><strong>Acesso: </strong>@Model.Roles.ElementAt(@Model.Roles.Count-1)</p>
